* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #E29845;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

}

#logo {
    display: inline-block;
    height: 100%;
}

#whiteLogo {
    position: absolute;
    left: 10px;
    max-width: 257px;
    max-height: 123px;
    width: auto;
    height: 100%;
}

#bars {
    display: inline-block;
    position: absolute;
    background:none;
    border:none;
    left: 300px;
    margin-top: 35px;
}

#bars:hover, #userProfile:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1b573+0,f1b573+10,f1b573+10,e29845+100 */
    background: #f1b573; /* Old browsers */
    background: radial-gradient(ellipse at center, #f1b573 0%,#f1b573 10%,#f1b573 10%,#e29845 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1b573', endColorstr='#e29845',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#bars:active, #userProfile:active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1b573+0,f1b573+62,e29845+100 */
    background: #f1b573; /* Old browsers */
    background: radial-gradient(ellipse at center, #f1b573 0%,#f1b573 62%,#e29845 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1b573', endColorstr='#e29845',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#icon-bars {
    color: white;
    font-size:35px;
}

#userProfile {
    display: inline-block;
    position: absolute;
    background:none;
    border:none;
    right: 50px;
    float: right;
    margin-top: 27px;
    text-decoration: none;
    text-align: center;
}

#icon-user {
    color: white;
    font-size: 40px;
}

#username {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#sidebar {
    position: fixed;
    top: 100px;
    width: 18%;
    height: 100%;
    background-color: #365b6b;
}

.side-button {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #10455D;
}

.side-button:focus {
    background-color: #30728E;
}