* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #E29845;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

}

#logo {
    display: inline-block;
    height: 100%;
}

#whiteLogo {
    position: absolute;
    left: 10px;
    max-width: 257px;
    max-height: 123px;
    width: auto;
    height: 100%;
}

#bars {
    display: inline-block;
    position: absolute;
    background:none;
    border:none;
    left: 300px;
    margin-top: 35px;
}

#icon-bars {
    color: white;
    font-size:35px;
}