/* -- BUTTON -- */

.compte {
    color: black;
    background-color: rgb(221, 221, 211);
    border-radius: 5px;
    height: 20%;
    width: 48%;
    position: relative;
    opacity: 1;
    align-content: center;
    float: right;
    z-index: 1;
}


.form_cemac {
    width: 15%;
}

input::placeholder {
    color: black;
    text-align: center;
}

.form-button {
    background-color: #E29845;
    margin-top: 10%;
    height: 40px;
    width: 40%;
    border-radius: 5px;
}

.confirm-delete-btn {
    background-color: #e22b1d;
}

.bouton {
    margin-top: 2%;
    margin-left: 50%;
    margin-right: 50%;
    width: 100%;
}

.form-button:hover {
    cursor: pointer;
}

/* -- FORMULAIRE -- */

#user-compte {
    display: flex;
    margin: 2% auto 50%;
    padding-bottom: 20%;

}

h1 { /* Titres */
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}

h2 {
    text-align: center

;
}
/* -- FORMULAIRE AJOUT DE LOGEMENT -- */

.form_logement{
    display : flex;
    margin-top: 1%;
    margin-left : auto;
    margin-right : auto;
}









