/* --- HEADER --- */
.header {
    display: inline-block;
    background-color: #E29845;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    flex: 1;
}

#logo {
    display: inline-block;
    height: 100%;
}

#whiteLogo {
    position: absolute;
    left: 10px;
    max-width: 257px;
    max-height: 123px;
    width: auto;
    height: 100%;
    border: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}