/* --- GENERAL --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#content-window {
    flex: 1;
    display: flex;
}

/* --- HEADER --- */
.main-header {
    display: inline-block;
    background-color: #E29845;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
    flex: 1;
}

#logo {
    display: inline-block;
    height: 100%;
}

#whiteLogo {
    position: absolute;
    left: 10px;
    max-width: 257px;
    max-height: 123px;
    width: auto;
    height: 100%;
    border: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#bars-button {
    display: inline-block;
    position: absolute;
    background: none;
    border: none;
    left: 300px;
    margin-top: 35px;
}

#bars-button:hover, #userProfile-button:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1b573+0,f1b573+10,f1b573+10,e29845+100 */
    background: #f1b573; /* Old browsers */
    background: radial-gradient(ellipse at center, #f1b573 0%, #f1b573 10%, #f1b573 10%, #e29845 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1b573', endColorstr='#e29845', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#bars-button:active, #userProfile-button:active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1b573+0,f1b573+62,e29845+100 */
    background: #f1b573; /* Old browsers */
    background: radial-gradient(ellipse at center, #f1b573 0%, #f1b573 62%, #e29845 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1b573', endColorstr='#e29845', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#icon-bars {
    color: white;
    font-size: 35px;
}

#userProfile-button {
    display: inline-block;
    position: absolute;
    background: none;
    border: none;
    right: 50px;
    float: right;
    text-decoration: none;
    text-align: center;
}

#dropdown-user {
    display: inline-block;
    position: absolute;
    right: 50px;
    float: right;
    margin-top: 27px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    left: 50%;
    margin-left: -8px;
}


#icon-user {
    color: white;
    font-size: 40px;
}

#username {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

/* --- SIDEBAR --- */
#sidebar {
    /*position: relative;*/
    float: left;
    width: 250px;
    height: 100%;
    margin-right: -4px;
    background-color: #365b6b;
}

.side-button {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #10455D;
}

.side-button:focus {
    background-color: #30728E;
}
.side-button:hover{
    background-color: #30728E;
}

.side-button:active {
    background-color: #30728E;
}

#link-footer {
    width: inherit;
    position: absolute;
    bottom: 1%;
    float: left;
    list-style: none;
    padding-left: 20px;
}

#link-footer li {
    float: left;
}

#link-footer li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #E29845;
    border-right: 1px solid #ccc;
}

#link-footer li:last-child a {
    border-right: none;
}