#main-wrap{
	display : flex ;
	margin-left : 2%;
}

.products::nth-child(1){
	flex:4;
}

.products::nth-child(2){
	flex:1;
}

#productsList{
	padding : 2%;
	width : 100%;
}

#product-form{
	padding : 2%;
}

.add {
    color: black;
    background-color: rgb(221, 221, 211);
    border-radius: 5px;
    position: relative;
    opacity: 1;
    align-content: center;
    z-index: 1;
}

.remove{
	margin-top : 10%;
}