/* --- USER DASHBOARD --- */
#dashboard-nav {
    float: left;
    vertical-align: top;
    height: 100%;
    width: 70px;
}

.dashboard-nav-link {
    display: block;
    height: 50%;
    background-color: #DDDDDD;
    color: #292929;
    font-size: 40px;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    border: 1px #333333 solid;
    cursor:pointer;
}

.dashboard-nav-link:hover,.dashboard-nav-link:active,.dashboard-nav-link:focus {
    background-color: #E29845;
    color:#292929;
    cursor: pointer;
    text-decoration: none;
}

.dashboard-nav-link.active{
    background-color: #E29845;
}


.fas {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    vertical-align: middle;
}

.user-dashboard {
    height: 100%;
    float: left;
    vertical-align: top;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
    min-width: min-content;
    display: flex;
}

.user-house-dashboard {
    float: left;
    display: inline-block;
    width: 600px;
    height: 100%;
    border: 2px #333333 solid;
}

.user-house-name {
    text-align: center;
    color: #333333;
}

.type_conso{
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #DDDDDD;
    color: #333333;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}

.type_conso:hover{
    background: #F1B573;
}


/* - Accordion css - */
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #DDDDDD;
    color: #333333;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}

.accordion-tab-content {
    max-height: 0;
    overflow: hidden;
    background: white;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    display: grid;
}

.product-grid {
    margin: 1em;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 50px;
}

.product-grid-conso{
    margin: 1em;
    display: grid;
    grid-gap: 50px;
    border: #E29845 solid 1px;
    min-height: 250px;
    min-width: 50px;
}


.product-box {
    background-color: white;
    border: 2px #333333 solid;
    overflow: hidden;
}

/* :checked */
input:checked ~ .accordion-tab-content {
    max-height: 100em;
}

input:checked ~ .accordion-tab-content .product-grid {
    max-height: 500px;
}

input:checked ~ label {
    background: #F1B573;
}

/* Icon */
label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

input[type=radio] + label::after {
    content: "\25BC";
}

input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

/* --- ADMIN ACCOUNT MANAGEMENT --- */

/* Table */

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c4d3f6;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #fff;
}

.row.header {
    color: #ffffff;
    background: #e29845;
}

@media screen and (max-width: 768px) {
    .row {
        display: block;
    }

    .row.header {
        padding: 0;
        height: 0;
    }

    .row.header .cell {
        display: none;
    }

    .row .cell:before {
        font-size: 12px;
        color: #808080;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: unset !important;

        margin-bottom: 13px;
        content: attr(data-title);
        min-width: 98px;
        display: block;
    }
}

.cell {
    display: table-cell;
}

@media screen and (max-width: 768px) {
    .cell {
        display: block;
    }
}

.row .cell {
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 19px;
    padding-bottom: 19px;
}

.row .cell:nth-child(1) {
    width: 360px;
    padding-left: 40px;
}

.row .cell:nth-child(2) {
    width: 160px;
}

.row .cell:nth-child(3) {
    width: 250px;
}

.row .cell:nth-child(4) {
    width: 190px;
}

.table, .row {
    width: 100% !important;
}

.result:hover {
    background-color: #f1c595;
    cursor: pointer;
}

@media (max-width: 768px) {
    .row {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 18px;
        padding-top: 30px;
        padding-right: 15px;
        margin: 0;
    }

    .row .cell {
        border: none;
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .row .cell:nth-child(1) {
        padding-left: 30px;
    }

    .row .cell {
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        font-weight: unset !important;
    }

    .table, .row, .cell {
        width: 100% !important;
    }
}

#addProd {
    background-color:#30728E;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #10455D;
    display: inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0 1px 0 #10455D;
}
#addProd:hover {
    background-color:#64A9C7;
}


.form-button {
    background-color: #E29845;
    margin-top: 10%;
    height: 40px;
    width: 35%;
    border-radius: 5px;
}

.delete-btn {
    color: #e22b1d;
    background: none;
    border: none;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 16px;
}

.confirm-delete-btn {
    background-color: #e22b1d;
}